name: Trigger Rebuild

on:
  push:
    branches:
      - main

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Notify portal to rebuild
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.GH_PAT }}
          repository: hagdeild/dashboard-portal
          event-type: dashboard-updated
          client-payload: '{"dashboard": "verdbolguskyrsla"}'